<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
  #a {
    text-align: center;
  }
  #a:after {
    content: '';
    width: 1px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  #b {
    display: inline-block;
    vertical-align: middle;
  }
</style>
<body>
<div id="a" style="width: 500px;height: 500px;background-color: yellow">
  <div id="b" style="width: 50px;height: 50px;background-color: blue"></div>
</div>
</body>
</html>
