<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
  .wp {
    writing-mode: vertical-lr;
    text-align: center;
  }
  .wp_inner {
    writing-mode: horizontal-tb;
    display: inline-block;
    width: 100%;
  }
  .box {
    display: inline-block;
    margin: auto;
  }
</style>
<body>
<div class="wp" style="width: 500px;height: 500px;background-color: yellow;">
  <div class="wp_inner" style="width: 100%">
    <div class="box" style="width: 100px;height: 100px;background-color: blue">1</div>
    <div class="box" style="width: 100px;height: 100px;background-color: blue">2</div>
    <div class="box" style="width: 100px;height: 100px;background-color: blue">3</div>
    <div class="box" style="width: 100px;height: 100px;background-color: blue">4</div>
    <div class="box" style="width: 100px;height: 100px;background-color: blue">5</div>
    <div class="box" style="width: 100px;height: 100px;background-color: blue">6</div>
    <div class="box" style="width: 100px;height: 100px;background-color: blue">7</div>
    <div class="box" style="width: 100px;height: 100px;background-color: blue">8</div>
  </div>
</div>

</body>
</html>
